.card_container {
    margin: 0;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.empty-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: clamp(0.75rem, 2vw, 0.875rem);

}

.icon-link {
    width: 35px;
    height: 35px;
    background-color: rgb(236, 236, 236);
    padding: 14px;
    border-radius: 50%;
}

ion-card-title,
ion-card-subtitle {
    display: inline-block;
    font-size: clamp(0.8rem, 2.5vw, 1rem);

}