<ion-card class="card_container">
  <ion-card-header class="header">
    <ion-card-title class="card_title"> <app-shortfy-icon [isInvertColor]="true"></app-shortfy-icon> {{ 'home.shortenTitle' | translate }}</ion-card-title>
    <ion-card-subtitle class="card_subtitle">{{ 'home.shortenSubtitle' | translate }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="card_content">
    <div>
      <ion-item lines="none" class="custom-item">
        <ion-input type="url" [placeholder]="'home.urlPlaceholder' | translate" [(ngModel)]="url" (ionBlur)="validateUrl()"
          class="custom-input">
        </ion-input>
      </ion-item>
      @if (urlError) {
      <p class="error-text">
        {{ 'home.invalidUrl' | translate }}
      </p>
      }
    </div>

    <ion-item lines="none" class="custom-item">
      <ion-input type="text" [placeholder]="'home.namePlaceholder' | translate"
        [(ngModel)]="linkName" class="custom-input">
      </ion-input>
    </ion-item>
    <ion-button class="shorter-button" (click)="createUrl()" >
      @if (loading) {
        <ion-spinner name="crescent"></ion-spinner>
      }@else {
        <ion-icon class="icon-button" name="link"></ion-icon>{{ 'home.shortenButton' | translate }}
      }
    </ion-button>
  </ion-card-content>
</ion-card>
