<div class="profile-container">

  @if (userAuth()) {
  <ion-button fill="clear" class="profile-button" (click)="openPopover($event)">
    <ion-avatar class="avatar">
      <ion-icon name="person-outline"></ion-icon>
    </ion-avatar>
    <span class="user-name">{{extractUsername(userAuth())}}</span>
    <ion-icon class="down_icon" name="chevron-down-outline"></ion-icon>
  </ion-button>
  } @else {
  <ion-button class="sign-button" (click)="redirectToLogin()">
    <ion-icon name="log-in-outline" class="sign-icon"></ion-icon>
    {{ 'profile.signIn' | translate }}
  </ion-button>
  }

  <ion-popover #popover [isOpen]="isPopoverOpen" [dismissOnSelect]="false" (didDismiss)="isPopoverOpen = false">
    <ng-template>
      <div class="popover-content">
      <div class="profile-info">
          <span class="label">{{ 'profile.signedInAs' | translate }}</span>
          <strong>{{userAuth()}}</strong>
        </div>
        <ion-list lines="none">
          <ion-item class="item-list" button (click)="logoutAlert()">
            <ion-icon class="icon-logout" name="log-out-outline" slot="start"></ion-icon>
            {{ 'profile.logOut' | translate }}
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-popover>

</div>
