<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'privacyPolicy.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>{{ 'privacyPolicy.title' | translate }}</h2>

  <p>
    {{ 'privacyPolicy.intro' | translate }}
  </p>

  <h3>{{ 'privacyPolicy.collectTitle' | translate }}</h3>
  <p>
    {{ 'privacyPolicy.collectIntro' | translate }}
  </p>

  <ul>
    <li>{{ 'privacyPolicy.collectName' | translate }}</li>
    <li>{{ 'privacyPolicy.collectEmail' | translate }}</li>
    <li>{{ 'privacyPolicy.collectPicture' | translate }}</li>
    <li>{{ 'privacyPolicy.collectGoogleId' | translate }}</li>
  </ul>

  <h3>{{ 'privacyPolicy.usageTitle' | translate }}</h3>
  <p>
    {{ 'privacyPolicy.usageBody' | translate }}
  </p>

  <h3>{{ 'privacyPolicy.storageTitle' | translate }}</h3>
  <p>
    {{ 'privacyPolicy.storageBody' | translate }}
  </p>

  <h3>{{ 'privacyPolicy.rightsTitle' | translate }}</h3>
  <p>
    {{ 'privacyPolicy.rightsBody' | translate }}
  </p>

  <h3>{{ 'privacyPolicy.thirdPartyTitle' | translate }}</h3>
  <p>
    {{ 'privacyPolicy.thirdPartyBody' | translate }}
  </p>

  <h3>{{ 'privacyPolicy.contactTitle' | translate }}</h3>
  <p>
    {{ 'privacyPolicy.contactBody' | translate }}
  </p>

</ion-content>
