.button {
    color: var(--color-text-gray);
    --padding-start: 2px;
    --padding-end: 2px;
    --padding-top: 2px;
    --padding-bottom: 2px;
    margin: 0;
    min-height: auto;
    width: clamp(32px, 7vw, 40px);
    height: clamp(32px, 7vw, 40px);
}