    .copy-wrapper {
        position: relative;
        display: inline-flex;
        align-items: center;
    }

    .button {
        transition: color 0.2s ease;
        color: var(--ion-text-color);
    }

    .button.copied {
        --color: var(--ion-color-success);
    }

    .custom-toast {
        --background: var(--toast-bg-dark);
        --color: var(--toast-text);

        --border-radius: 12px;
        --box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);


        font-weight: 500;
        padding: 10px;
    }