<ion-content class="container">
  <ion-header collapse="fade">
    <ion-toolbar class="tool_bar">
      <div class="title_bar">
        <app-shortfy-icon class="icon_shortfy_title"></app-shortfy-icon>
        <div class="title_text">{{ 'app.title' | translate }}</div>
        <app-menu-profile-options class="menu_profile_options"></app-menu-profile-options>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="container_background">
    <div class="body_container">
      <app-short-creator></app-short-creator>
      <app-link-visualizator></app-link-visualizator>
    </div>
  </div>
</ion-content>